# dolphin
.directory
# vim
.undodir/
# kicad
*.bak
pcb/live-caption-badge-backups
pcb/*.lck
pcb/#auto_saved_files#
pcb/_autosave*
pcb/fp-info-cache
pcb/~*
# esp-idf
build/
sdkconfig
sdkconfig.old
*.cmake
*.env
ldgen_libraries*
# misc
*~
*.wav
*.mp3
