# dolphin
.directory
# vim
.undodir/
# kicad
*.bak
pcb/live-caption-badge-backups
pcb/*.lck
pcb/#auto_saved_files#
pcb/_autosave*
pcb/fp-info-cache
pcb/~*
# esp-idf
build/
esp-idf/
managed_components/
bootloader*
sdkconfig
sdkconfig.old
*.lock
*.in
*.cmake
*.env
*_args
ldgen_libraries*
# misc
*~
*.wav
*.mp3
.cache/
