menu "Live Caption Badge"
config PARTICIPANT_NAME
	string "Participant Name"
	default "Lynn CONWAY"
	help
		Participant's name to display on Badge

config PARTICIPANT_PRONOUNS
	string "Participant Pronouns"
	default "she/her"
	help
		Participant's pronouns.
		Displayed below name.

config PARTICIPANT_AFFILIATION
	string "Participant Affiliation"
	default "University of Michigan"
	help
		Participant's affiliation, e.g. company or university.
		Displayed on the bottom of the screen.

config PARTICIPANT_ROLE
	string "Participant Role"
	default "Speaker"
	help
		Participant's role in convention.
		Displayed on the bottom of the screen.
endmenu
